@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    max-width: 100%;
    min-width: 400px;
    min-height: 100vh;
    margin: 0;
}

section {
    padding-left: 8px;
    padding-right: 8px;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: darkorange black;
    scrollbar-width: thin;
    background-color: black;
}

#card:hover {
    transform: scale(1.05);
}

#card {
    transition: all 0.1s ease-in-out;
}

.border-bottom {
    border-bottom-color: #5d5d5d;
    border-bottom-width: thin;
}

.border-top {
    border-top-color: #5d5d5d;
    border-top-width: thin;
}

@keyframes bio {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (min-width: 980px) {
    body {
        animation: bio 0.9s ease-in-out;
    }
}